In [1]:
import pandas as pd
from augmentations.deletion import RandomDelete
from augmentations.insertion import RandomInsertion
from augmentations.remove_duplicates import RemoveDuplicates
from augmentations.swap import SwapWords
from augmentations.synonym import SynonymReplace
from augmentations.translation import BackTranslate
import nltk
nltk.download('omw-1.4')
nltk.download('punkt')
nltk.download('wordnet')

augmentations = [
    SynonymReplace(),
# BackTranslate(),
RandomDelete(),
RandomInsertion(),
RemoveDuplicates(),
SwapWords()
]


def aug_row(row):
    rows = [row]
    for augmentation in augmentations:
        new_row = row.copy()
        new_row.text = augmentation(row.text)
        rows.append(new_row)
    return pd.concat(rows, axis=1).T.reset_index(drop=True)

aug_row(pd.read_csv('dataset/train.csv', ).iloc[0])

c:\users\shaiel cohen\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "
Using state Tel Aviv server backend.
[nltk_data] Downloading package omw-1.4 to C:\Users\Shaiel
[nltk_data]     Cohen\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Shaiel
[nltk_data]     Cohen\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Shaiel
[nltk_data]     Cohen\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,1,NaN,NaN,Our Deeds are the reason of this #temblor May ...,1
2,1,NaN,NaN,Our Deeds are the Reason of this earthquake Ma...,1
3,1,NaN,NaN,Our Deeds are the Reason of this quake #earthq...,1
4,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
5,1,NaN,NaN,Our Forgive are ALLAH Reason the #this earthqu...,1

In [2]:
from tqdm.notebook import tqdm
df = pd.read_csv('dataset/train.csv', )
pd.concat([aug_row(row) for i, row in tqdm(df.iterrows(), total=len(df))]).reset_index(drop=True).to_csv('dataset/augmented_train.csv', index=False)

  0%|          | 0/7613 [00:00<?, ?it/s]